
*{
    font-family: 'Overpass';
}
main{
    background-color: rgba(20,21,25,255);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* caixa principal */
.caixa-box-principal{
    box-shadow: rgba(0, 0, 0, 0.11) 0px 8px 24px;
    display: none;
    background-color: #181f27;
    border-radius: 30px;
    height: 365px;
    width: 360px;
}
.caixa-box-subprincipal img{
    margin-right: 220px;
    margin-top: 30px;
    margin-left: 25px;
    background-color: #262d37;
    padding: 13px;
    border-radius: 50%;
}
.caixa-box-subprincipal h1{
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 25px;
    font-size: 23px;
    color: #ffffff;

}
.caixa-box-subprincipal p{
    font-size: 15px;
    color: hsl(216, 12%, 54%);
    margin: 0 25px;
    margin-right: 30px;

}
/* botoes e input */
.butoes-numeros{
    margin: 25px 10px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 15px;
}
.butoes-numeros li{
    cursor: pointer;
    background-color: #262d37;
    padding: 13px 18px;
    border-radius: 50%;
    color: hsl(216, 12%, 54%);
}
.input{
    display: flex;
    justify-content: center;
    align-items: center;
}
.input input{
    cursor: pointer;
    margin-top: 10px;
    color: #ffffff;
    background-color: hsl(25, 97%, 53%);
    padding: 10px 130px;
    border-radius: 20px;
}
.input input:active{
    color:hsl(25, 97%, 53%);
    background-color: #ffffff;
}
.butoes-numeros li:active{
    background-color: hsl(25, 97%, 53%);
    color: #ffffff;
}
.butoes-numeros .selecionado{
    background-color: hsl(217, 12%, 63%);
    color: #ffffff;

}
/* rodapé */
.attribution {
    color: #ffffff;
    background-color: hsl(25, 100%, 56%); 
    padding: 30px 0;
    font-size: 15px; text-align: center; 
}
.attribution a { 
    text-decoration: none;
    color:#262d37; 
}